@use "/styles/core/colors" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 10%;

    &__logo {
        width: auto;
        height: 48px;
        filter: brightness(100);

        &__container {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 12px;
        text-decoration: none;
        font-family: "JetBrains Mono", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;

        &:hover {
            color: $brand-red;
        }

        &:last-child {
            border: 1px dashed #fff;
            border-radius: 8px;

            &:hover {
                border-color: $brand-red;
            }
        }

        &__container {
            display: flex;
            column-gap: 16px;
            height: 100%;
            align-items: center;
        }
    }
}
