@use "core/breakpoints" as *;
@use "/styles/core/colors" as *;
@use "core/variables" as *;

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 $mobile-horizontal-gutter;

    @include for-tablet-landscape-up {
        padding: 0 $desktop-horizontal-gutter;
    }

    &__logo {
        width: auto;
        height: 48px;
        filter: brightness(100);
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 12px;
        text-decoration: none;
        font-family: "JetBrains Mono", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;

        &:hover {
            color: $brand-red;
        }

        &__container {
            display: none;
            column-gap: 16px;

            @include for-tablet-landscape-up {
                display: flex;
                column-gap: 16px;
                align-items: center;
                height: 100%;
            }
        }
    }

    &__burger-menu {
        font-family: "Material Icons";

        @include for-tablet-landscape-up {
            display: none;
        }

        &__button {
            border: none;
            background-color: transparent;
            color: #fff;
        }
    }
}
